@import "../home.component.scss";

.padding-all{
    margin: 0 19.5rem;
}

.sm-fnt{
    font-size: 12px;
}

.mar-form {
    margin: 0px 22rem;
}

.bord-form {
    border: 1px solid #414141;
    border-radius: 2px;
    height: 2.7rem;
}