<div class="body-d">
        <div class="body-bg">
           <div class="container">
              <div class="row justify-content-center">
                 <div class="col-sm-10">
                    <div class="pt-5">
                       <div class="text-center">
                           <div class="px-2">
                                <img src="../../assets/images/common.JPG">
                            </div>
                            <div class="home-title pxx-5">
                                <h1>Thank You !</h1>
                                <h1>We'll Back To You Soon</h1>
                            </div>
                            <div class="signup-btn mt-2">
                                <p class="fnt-sm text-secondary">
                                    Please Check Your Email
                                </p>
                            </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>