
@import '../src/assets/scss/common.scss';

@font-face {
    font-family: $myFont;
    src: url("/src/assets/fonts/SF-Compact-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family:  $myFontBold;
    src: url("/src/assets/fonts/SF-Compact-Display-Bold.otf") format("opentype");
}

body {
    margin: 0px;
    overflow-x: hidden;
}

