<div class="body-d">
    <div class="body-bg">
       <div class="container">
          <div class="row justify-content-center">
             <div class="col-sm-10">
                <div class="pt-5">
                   <div class="text-center">
                       <div class="px-2">
                            <img src="../../assets/images/common.JPG">
                        </div>
                        <div class="home-title pxx-5">
                            <h1>Real Estate Investing Information That Matters To You</h1>
                            <small class="text-secondary">Limited to San Francisco Day Arena - Join our BETA!</small>
                        </div>
                        <div class="linked-btn mt-5">
                            <button (click)="linkedIn()" class="btn-style px-4">
                                Sign Up With LinkedIn
                            </button>
                        </div>
                        <div class="signup-btn mt-2">
                            <a routerLink="/signup" routerLinkActive="active" class="fnt-sm text-secondary">
                                Sign In
                            </a>
                        </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>